*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing:border-box;
}

body{
    background-color: gray;
}

.topnav-1 {
    display: none;
    overflow: hidden;
    background-color: rgb(167, 90, 35);
    position: relative;
  }

  .topnav-1 #myLinks {
    display: none;
  }
  
  .topnav-1 a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav-1 a.icon {
    margin-top: 10px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav-1 a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active-1 {
    background-color: transparent;
    color: white;
  }

header .topnav{
    background-color: white;
    display: flex;
    justify-content: space-around;
}

header .topnav a{
    color: black;
    text-decoration: none;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 15px;
}

header .topnav a:hover{
    color: gray;
    cursor: pointer;
    transition: 1s;
}

header .topnav h1{
    font-family: cursive;
    margin-top: -15px;
    color: rgb(167, 90, 35);
}

header .topnav h1:hover{
    color: gray;
    transition: 1s;
}

main .picture-container{
    background:url(https://res.cloudinary.com/ddfvaflgl/image/upload/v1699228945/homeMedia/jwmjmtatdl40yr4buiee.webp) ;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 500px;
}

main .picture-container h1{
    position: absolute;
    top: 150px;
    left: 450px;
    color: rgb(167, 90, 35);
    font-family: 'Times New Roman', Times, serif;
    font-size: 150px;
    margin-left: -40px;
}

main .picture-container h1:hover{
    color: gray;
    transition: 1s;
}

main .signin-container-smaller{
    display: none;
    margin-top: 150px;
    padding: 150px 200px;
    background-color: white;
}

main .signin-container-smaller-text{
    margin-top: 90px;
    text-align: center;
    line-height: 40px;
    color: rgb(167, 90, 35);
}


main .signin-container-smaller-text p{
    color: rgb(247, 179, 130);
}

main .signin-container-smaller-text button{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(167, 90, 35);
    background-color: white;
    color: rgb(167, 90, 35);
}

main .signin-container-smaller-text button:hover{
    cursor: pointer;
    border: 1px solid white;
    background-color: rgb(167, 90, 35);
    transition: 1s;
    color: white;
}

main .signin-container-smaller-pictures{
    height: 300px;
    overflow: hidden;
}

main .signin-container-smaller-pictures img{
    height: 300px;
    width: 300px;
    opacity: 0.7;
    transition: transform 2s ease;
}

main .signin-container-smaller-pictures:hover img{
    transform: scale(1.5);
    opacity: 1;
}

main .signin-container{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    padding: 150px 200px;
    background-color: white;
}

main .signin-container-text{
    margin-top: 90px;
    text-align: center;
    line-height: 40px;
    color: rgb(167, 90, 35);
}


main .signin-container-text p{
    color: rgb(247, 179, 130);
}

main .signin-container-text button{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(167, 90, 35);
    background-color: white;
    color: rgb(167, 90, 35);
}

main .signin-container-text button:hover{
    cursor: pointer;
    border: 1px solid white;
    background-color: rgb(167, 90, 35);
    transition: 1s;
    color: white;
}

main .signin-container-pictures{
    height: 300px;
    overflow: hidden;
}

main .signin-container-pictures img{
    height: 300px;
    width: 300px;
    opacity: 0.7;
    transition: transform 2s ease;
}

main .signin-container-pictures:hover img{
    transform: scale(1.5);
    opacity: 1;
}

main .search-container{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    padding: 150px 200px;
    background-color: rgb(236, 234, 234);
}

main .search-container-input input{
    padding: 20px 50px;
    border-radius: 10px;
    border: 1px soild rgb(167, 90, 35);
    background-color: white;
    color: rgb(167, 90, 35);
}

main .search-container-input input:hover{
    cursor: pointer;
    border: 1px soild white;
    background-color: rgb(167, 90, 35);
    color: white;
}

main .search-container-input input::placeholder{
    color: white;
}

main .search-container-text{
    text-align: center;
    font-size: large;
    line-height: 30px;
    color: rgb(167, 90, 35);
}

main .search-container-text p{
    color: rgb(156, 155, 154);
}

main .last-container{
    background-color: white;
    margin-top: 150px;
    padding: 150px 0;
}

main .video-container{
    display: flex;
    justify-content: space-around;
}
main .video-container .video-container-video video{
    width: 100%;
    height: 200px;
    border-radius: 50px;
}

main .last-container-text{
    margin-top: 90px;
    text-align: center;
    color: rgb(167, 90, 35);
}

main .last-container-text p{
    color: rgb(247, 179, 130);
}

footer .footer-container{
    margin-top: 300px;
    text-align: center;
    margin-bottom: 100px;
    color: rgb(167, 90, 35);
}

footer .footer-container i{
    margin-top: 25px;
    margin-left: 10px;
    color: white;
}

@media screen and (max-device-width: 1024px){
    main .picture-container h1{
        font-size: 100px;
        margin-left: -210px;
    }

    main .signin-container-text{
        line-height: normal;
    }

    main .signin-container-pictures .none{
        display: none;
    }
    main .signin-container-pictures .right{
        margin-left: 5px;
    }

    main .search-container-text{
        line-height: normal;
    }
}

@media screen and (max-device-width: 768px){
    body{
        background-color: rgb(167, 90, 35);
    }

    header{
        display: none;
    }

    .topnav-1{
        display: block;
    }

    main .picture-container h1{
        margin-left: -310px;
    }

    main .signin-container-smaller{
        display: block;
    }

    main .signin-container-smaller-pictures img{
        margin-left: 35px;
    }

    main .signin-container{
        display: none;
    }

    main .search-container{
        display: block;
    }

    main .search-container-text{
        margin-top: 35px;
        text-align: left;
    }

    footer .footer-container{
        color: black;
    }

}
@media screen and (max-device-width: 425px){
    main .picture-container h1{
        margin-left: -370px;
        font-size: 50px;
    }

    main .search-container-input input{
        padding: 0;
    }
}